div:Hover{
    outline:auto;
}
div#cl{
    background-color: pink;
}
div.prima{
    background-color: blue;
}
div.secun{
    background-color: blueviolet;
}
div.comp{
    background-color: gray;
    padding: 150px;
}
div.esc{
    background-color: yellow;
}
.um{
    padding: 100px;
    font-style: italic;
}
.dois{
    letter-spacing: 5px;
}
.tres{
    text-decoration-line: line-through;
    font-style: oblique;
}
.quatro{
    initial-letter: 50px;
}
.cinco{
    text-decoration-line: underline;
    font-style: italic;
}